<!--todo ======== Favorites === Oleg  -->
<section class="favorites">
    <div class="container">
      <h2 class="title">Some of Our Favorites</h2>
      <p class="text">Looking for something delicious?</p>
      <ul class="list">
        <li class="item">
          <img
            src="./img/gamburger.png"
            alt="gamburger"
            class="img"
            width="315"
            height="315"
          />
        </li>
        <li class="item">
          <img
            src="./img/pasta.png"
            alt="pasta"
            class="img"
            width="315"
            height="315"
          />
        </li>
        <li class="item">
          <img
            src="./img/pizza.png"
            alt="pizza"
            class="img"
            width="315"
            height="315"
          />
        </li>
        <li class="item">
          <img
            src="./img/chicken.png"
            alt="chicken"
            class="img"
            width="315"
            height="315"
          />
        </li>
        <li class="item">
          <img
            src="./img/salat.png"
            alt="salat"
            class="img"
            width="315"
            height="315"
          />
        </li>
        <li class="item">
          <img
            src="./img/borshch.png"
            alt="borshch"
            class="img"
            width="315"
            height="315"
          />
        </li>
      </ul>
    </div>
  </section>