<header class="header">
  <nav class="header-nav-container">
    <a class="link" href="./index.html"
      ><img
        class="logo-img"
        src="./img/logo.svg"
        alt="company logo"
        width="66"
        height="52"
    /></a>
    <ul class="list header-nav-list">
      <li><a class="green-link nav-menu" href="">Home</a></li>
      <li><a class="link nav-menu" href="">About</a></li>
      <li><a class="link nav-menu" href="">Service</a></li>
      <li><a class="link nav-menu" href="">Menu</a></li>
      <li><a class="link nav-menu" href="">Contact</a></li>
    </ul>
    <button class="btn-green" type="button">Order Now</button>
  </nav>
</header>