<section class="offering">
  <div class="container">
    <img src="./images/aple.png" alt="apple" width="396" height="502" />
    <h2 class="offering-title">What’s Special About Our Offerings</h2>
    <p class="offering-text">
      With our platform, you can browse through a diverse selection of cuisines
      and local restaurants, and choose from a variety of dishes that cater to
      your specific taste buds.
    </p>
    <ul class="offering-list list">
      <li class="offering-item">
        <h3 class="offering-sub-title">Fasest Delivery</h3>
        <p class="offering-desc">
          Our advanced logistics system and dedicated delivery partners ensure
          that your meals are delivered to you within 30-minutes.
        </p>
      </li>
      <li class="offering-item">
        <h3 class="offering-sub-title">Easy To Order</h3>
        <p class="offering-desc">
          You can browse through a wide variety of cuisines and restaurants,
          select your favorite meals, and place your order in just a few clicks.
        </p>
      </li>
    </ul>
    <button type="button" class="offering-btn">Order Now</button>
  </div>
</section>
